body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.cell {
  border: 1px solid #ccc;
  background-color: white;
}

.cell.alive {
  background-color: black;
}

.row {
  display: table-cell;
}

.rules {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: end;
}

label {
  margin-right: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.input-width {
  width: 40px;
}

input {
  margin: 0 5px;
}

.main-grid {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
